@import url('https://fonts.googleapis.com/css?family=Orbitron');
* {
	// font-family: 'Orbitron', sans-serif;
}

body {
	background-color: black;
	color: white;
}

p {
	color: white;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: white;
}

h1 {
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	text-shadow: 1px 1px #8bfbf5;
}
.title-head {
	width: 965px;
}
.flex-header {
	display: flex;
	justify-content: space-between;
}
.header {
	cursor: pointer;
}

h2,
h3,
h4 {
	color: white;
}

.chord-flexwrap {
	display: flex;
	justify-content: space-between;
	width: 780px;
	margin-left: 30px;
	margin-bottom: 105px;
}

p.chord {
	border: 1px solid white;
	box-shadow: 2px 2px #8bfbf5;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: .8em;
	padding: 10px 15px;
	margin-top: 0;
	margin-bottom: 0;
}

.play {
	background-color: #8B9AB6;
}

.sequencer {
	margin-left: 30px;
}

.border {
	border: 2px solid #8bfbf5;
	box-shadow: 3px 4px hotpink;
}

.fx-hidden {
	display: none;
}

.seq-hidden {
	display: none;
}

.auth-hidden {
	display: none;
}

.icons {
	color: white;
}

;
.settings-title {
	height: 15px;
	vertical-align: middle;
	display: none;
	width: 110px;
}

.red-icon {
	color: hotpink;
}

.save-icon {
	display: inline;
	margin-top: 5px;
	margin-left: 5px;
}
.save-icon-link {
	display: inline;
}
.save-text {
	display: inline;
}

ul {
	color: white;
}

.select-li {
	display: inline;
}

//TEMPORARY TRASH CAN FIX//
.icon-spin {
	display: none;
}

.highlight {
	font-weight: bolder;
	color: hotpink;
	text-shadow: 1px 1px #8bfbf5;
}
.highlight-soft {
	font-weight: bolder;
	text-shadow: 1px 1px #8bfbf5;
}

.setting-flex {
	display: flex;
	justify-content: space-between;
}

.save-setting-flex {
	display: flex;
	justify-content: space-between;
}

///// MASTER GRID /////
.grid-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: repeat(5, auto);
	grid-gap: 10px 0;
	grid-template-areas: 
	"head head" 
	"transport transport" 
	"osc osc" 
	"select select" 
	"sequencers settings";
}

.grid-area-header {
	grid-area: head;
}

.grid-area-transport {
	grid-area: transport;
}

.grid-area-settings {
	grid-area: settings;
}

.grid-area-sequencer {
	grid-area: sequencers;
}

.grid-area-select {
	grid-area: select;
}

.grid-area-osc {
	grid-area: osc;
}

//Master Volume 
.master-volume-container {
	width: 154px;
	height: 125px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	text-shadow: 1px 1px #8bfbf5;
	font-size: 1.1em
}
.master-volume {
	margin: 0 auto;
}

///// SEQUENCER SUBGRIDS AND STRUCTURE/////
.arp-subgrid-container {
	margin-left: 30px;
	display: grid;
	grid-template-columns: 150px 330px 160px 160px;
}

.arp-env-flex {
	display: flex;
}

.arp-sound-list {
	border: 1px solid white;
	font-family: 'Orbitron', sans-serif;
	font-size: .8em;
	margin: 0;
	height: 148px;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.sound-title {
	color: hotpink;
	text-shadow: 1px 1px #8bfbf5;
	cursor: default;
	pointer-events: none;
}

.arp-sound-list li {
	padding: 10px 10px;
	text-align: center;
}

.fx-flex {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.setting-dial {
	margin: 0 auto;
}

.fm-multislider,
.bass-multislider {
	display: block;
}
.envelope-label {
	letter-spacing: 1.1em;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	margin-left: 14px;
	margin-top: 18px;
	text-shadow: 1px 1px #8bfbf5;
}

///// OSCILLOSCOPE /////
.oscilloscope {
	margin-left: 30px;
}

///// SYNTH SUBGRID /////
.synth-subgrid-container {
	margin-left: 30px;
	display: grid;
	grid-template-columns: 140px repeat(3, 176px) 130px;
}

.synth-setting-flex {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.synth-setting-flex p {
	margin-left: 0;
}

.vertical-label {
	text-align: center;
	padding: 0;
}

.vertical-style {
	writing-mode: vertical-lr;
	text-orientation: upright;
	width: 20px;
	margin-right: 0;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	text-shadow: 1px 1px #8bfbf5;
	text-shadow: 1px 1px #8bfbf5;
	cursor: default;
}

.synth-octave {
	display: inline;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
}

.sound-type {
	font-family: 'Orbitron', sans-serif;
}

/////DRUM SUBGRID
.drum-subgrid-container {
	margin-left: 30px;
	display: grid;
	grid-template-columns: 150px 150px 150px 150px 200px;
}

/////TRANSPORT/////
//PLAY BUTTON
.button,
select,
div.button > input,
.comp-number > input {
	font-family: 'Orbitron', sans-serif !important;
}
select,
div.button > input {
	font-size: .7em !important;
}
.comp-number > input {
	font-size: .5em !important;
}
.flex-wrap-buttons {
	width: 965px;
	display: flex;
	justify-content: space-around;
	margin-left: 30px;
}
.btn-auth {
	margin-left: auto;
}
.btn-transport {
	margin-right: 15px;
}
/////MASTER SUBGRID/////
.master-section-subgrid {
	margin-left: 30px;
	display: grid;
	grid-template-columns: 50px 245px 155px repeat(5, 70px);
	grid-template-rows: 125px;
	border: 2px solid white; 
}

.master-title {
	text-align: center;
	writing-mode: vertical-lr;
	text-orientation: upright;
	color: hotpink;
	text-shadow: 1px 1px #8bfbf5;
	border-right: 2px solid white;
	font-family: 'Orbitron', sans-serif;
}

.master-title p {
	color: hotpink;
}

.flex-transport {
	display: flex;
}

.master-reverb p {
	margin-bottom: 0;
}

.comp-setting {
	display: inline;
}

.comp-number {
	margin-left: 2px;
	margin-top: 2px;
}

/////FX DIAL STYLING/////
.fx-label {
	margin: 5px 0;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: .7em;
	cursor: default;
}

.fx-params {
	margin-top: 15px;
}

.fx-params-cheby {
	margin-top: 7px;
}

/////USER SETTINGS/////
.user-settings-list {
	list-style-type: none;
	padding-left: 0;
}

.user-settings {
	font-family: 'Orbitron', sans-serif;
	font-size: 0.8em;
	border: 2px solid white;
	width: 150px;
	height: 350px;
	background-color: grey;
	overflow: scroll;
}

.line-style {
	border-top: 1px solid white;
	display: inline-block;
}
.user-settings-placehold {
	width: 150px;
	height: 350px;
	border: 2px solid white;
	background-color: grey;
}
.logged-out-message {
	text-align: center;
	margin: .5em;
}
.logged-out-title {
	text-shadow: 1px 1px #8bfbf5;
}

///// TAB SELECT /////
.tab-select {
	font-family: 'Orbitron', sans-serif;
	cursor: pointer;
	width: 800px;
	display: flex;
	justify-content: space-around;
}
.sound-pointer {
	cursor: pointer;
}
.cursor-default {
	cursor: default;
}

//Gradients
.tempo-gradient-0 {
	background: linear-gradient( 0deg, black, hotpink 3%);
}
.tempo-gradient-1 {
	background: linear-gradient( 0deg, black, hotpink 6%);
}
.tempo-gradient-2 {
	background: linear-gradient( 0deg, black, hotpink 9%);
}
.tempo-gradient-3 {
	background: linear-gradient( 0deg, black, hotpink 12%);
}
.tempo-gradient-4 {
	background: linear-gradient( 0deg, black, hotpink 15%);
}
.tempo-gradient-5 {
	background: linear-gradient( 0deg, black, hotpink 18%);
}
.tempo-gradient-6 {
	background: linear-gradient( 0deg, black, hotpink 21%);
}
.tempo-gradient-7 {
	background: linear-gradient( 0deg, black, hotpink 24%);
}
.tempo-gradient-8 {
	background: linear-gradient( 0deg, black, hotpink 27%);
}
.tempo-gradient-9 {
	background: linear-gradient( 0deg, black, hotpink 30%);
}
.tempo-gradient-10 {
	background: linear-gradient( 0deg, black, hotpink 33%);
}
.tempo-gradient-11 {
	background: linear-gradient( 0deg, black, hotpink 36%);
}
.tempo-gradient-12 {
	background: linear-gradient( 0deg, black, hotpink 39%);
}
.tempo-gradient-13 {
	background: linear-gradient( 0deg, black, hotpink 42%);
}
.tempo-gradient-14 {
	background: linear-gradient( 0deg, black, hotpink 45%);
}
.tempo-gradient-15 {
	background: linear-gradient( 0deg, black, hotpink 48%);
}
.tempo-gradient-16 {
	background: linear-gradient( 0deg, black, hotpink 51%);
}
.tempo-gradient-17 {
	background: linear-gradient( 0deg, black, hotpink 54%);
}
.tempo-gradient-18 {
	background: linear-gradient( 0deg, black, hotpink 57%);
}
.tempo-gradient-19 {
	background: linear-gradient( 0deg, black, hotpink 60%);
}
.tempo-gradient-20 {
	background: linear-gradient( 0deg, black, hotpink 63%);
}
.tempo-gradient-21 {
	background: linear-gradient( 0deg, black, hotpink 66%);
}
.tempo-gradient-22 {
	background: linear-gradient( 0deg, black, hotpink 69%);
}
.tempo-gradient-23 {
	background: linear-gradient( 0deg, black, hotpink 72%);
}
.tempo-gradient-24 {
	background: linear-gradient( 0deg, black, hotpink 75%);
}
.tempo-gradient-25 {
	background: linear-gradient( 0deg, black, hotpink 78%);
}
.tempo-gradient-26 {
	background: linear-gradient( 0deg, black, hotpink 81%);
}
.tempo-gradient-27 {
	background: linear-gradient( 0deg, black, hotpink 84%);
}
.tempo-gradient-28 {
	background: linear-gradient( 0deg, black, hotpink 87%);
}
.tempo-gradient-29 {
	background: linear-gradient( 0deg, black, hotpink 90%);
}
.tempo-gradient-30 {
	background: linear-gradient( 0deg, black, hotpink 95%);
}
.tempo-gradient-31 {
	background: linear-gradient( 0deg, black, hotpink 100%);
}